server {
  server_name vpn.corbt.com;
  listen 443 ssl;

  ssl_certificate /etc/nginx/ssl/sf.corbt.com.crt;
  ssl_certificate_key /etc/nginx/ssl/sf.corbt.com.key;


  location / {
    proxy_pass https://localhost:943;
  }
}