[Unit]
Description=Nginx docker reverse proxy
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill nginx-proxy
ExecStartPre=-/usr/bin/docker rm nginx-proxy
ExecStartPre=/usr/bin/docker pull corbt/nginx-proxy
ExecStart=/usr/bin/docker run --name nginx-proxy -e FILE_HOST="corbt.com" -p 80:80 -v /srv/www/corbt:/files -v /var/run/docker.sock:/tmp/docker.sock corbt/nginx-proxy

[Install]
WantedBy=multi-user.target